*{
  margin: 0;
  padding: 0;
}

tbody#detailOwners button {
    width: 59px;
    height: 33px;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
}

.titleCatagoriesDetail {
    color: #444444;
    font-size: 15px;
}

.catagoriesDetailButtom {
    padding-top: 35px;
}

span.delete {
    color: #EE3D3D;
    font-size: 20px;
    cursor: pointer;
}

span.delete:hover {
    color: #EE3D3D;
}
 
span.edit {
    color: #5D9CEC;
    font-size: 20px;
    padding-right: 15px;
    cursor: pointer;
}

span.edit:hover {
    color: #4B91EA;
}

.catagoriesDetailMiddle {
    width: 165px;
    height: 35px;
    background: #27C24C;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    font-weight: bold;
    justify-content: space-around;
}

.catagoriesDetailMiddle:hover {
    text-decoration: none;
    color: white;
    background: #24B145;
}
 
.detailButtom {
    width: 95%;
    height: 90%;
    background: white;
    border: 1px solid #D0DCE3;
    border-radius: 3px;
    box-shadow: 1px -1px #CFDBE2;
    margin-left: 15px;
    padding-top: 10px;
}
 
body {
    width: 100vh;
}

.buttomCatagories {
    padding: 25px 0 0 20px;
    background: #F5F7FA;
    height: calc(100vh - 140px);
    width: 176%;
}

.titleCatagories {
    background: #FAFBFC !important;
    height: 75px;
    border-bottom: 1px solid #CFDBE2;
    padding-left: 20px;
    padding-top: 10px;
    width: 174%;
}

.titleCatagories em {
    display: block;
    margin-top: -5px;
    font-size: 12px;
    color: #AB9FA7;
}

.titleCatagories h5 {
    font-size: 24px;
    color: #929292;
}

.rightContent {margin-top: 65px;margin-left: 220px;height: 100%;}

div#v-pills-tab {
    width: 100%;
    position: absolute;
    left: 0;
}
 
.nav-link {
    height: 50px;
    border-radius: 0px !important;
    margin-top: 10px;
    background: none !important;
    padding: 15px;
    box-sizing: border-box;
    font-size: 17px;
    color: white;
    border-left: 3px solid transparent;
}

.nav-link span {
    padding-left: 10px;
}

.nav-link.active {
    color: #18A0CA !important;
    border-left: 3px solid #2B957A;
    padding: 15px;
}

.nav-link:hover {
    color: #18A0CA !important;
}
 
.itemLeft {
    height: 50px;
    font-size: 17px;
    color: #F5F5F6;
    padding-left: 25px;
    margin-left: -14px;
    padding-top: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.itemLeft.active a,.itemLeft.active {
    color: #1B97BF;
}

.itemLeft.active {
    border-left: 3px solid #2B957A;
}

.itemLeft a {
    margin-left: 10px;
    cursor: pointer;
    color: #F5F5F6;
    text-decoration: none;
}
 

.itemLeft:hover,.itemLeft:hover a {
    color: #1B97BF;
}
 
 

.leftContent {
    width: 220px;
    height: calc(100vh - 68px);
    background: #383D4E;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.col-sm-8 .row {
    height: 100%;
}
 
.icon {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon span {
    cursor: pointer;
}

.topAdmin {
    width: 100%; 
    height: 68px;
    background: #1AACDA;
    position: fixed;
    z-index: 1;
}

.topAdmin .emblem {
    width: 50%;
    padding: 15px;
}