<%include header %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/renter/favorite.css">


  <!-- ARTICLE -->
  <div class="container-fluid parent-article">
    <h1 class="wow tada">FAVORITE POSTS</h1>
    <div class="article container wow bounceInUp">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card card-body">
            <div class="amount-image">
              <i class="far fa-image"></i>
              <span id="amount-image">3</span>
            </div>
            <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
            <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
            <div class="row info-article">
              <div class="col-6 text-left">
                <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
              </div>
              <div class="col-6 text-right">
                <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
              </div>
              <div class="col-12 text-left">
                <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
              </div>
              <div class="col-6 text-left">
                <i class="far fa-clock"></i><span>Hôm nay</span>
              </div>
              <div class="col-6 text-right">
                <i class="far fa-trash-alt" id="delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-body">
            <div class="amount-image">
              <i class="far fa-image"></i>
              <span id="amount-image">3</span>
            </div>
            <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
            <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
            <div class="row info-article">
              <div class="col-6 text-left">
                <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
              </div>
              <div class="col-6 text-right">
                <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
              </div>
              <div class="col-12 text-left">
                <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
              </div>
              <div class="col-6 text-left">
                <i class="far fa-clock"></i><span>Hôm nay</span>
              </div>
              <div class="col-6 text-right">
                <i class="far fa-trash-alt" id="delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-body">
            <div class="amount-image">
              <i class="far fa-image"></i>
              <span id="amount-image">3</span>
            </div>
            <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
            <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
            <div class="row info-article">
              <div class="col-6 text-left">
                <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
              </div>
              <div class="col-6 text-right">
                <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
              </div>
              <div class="col-12 text-left">
                <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
              </div>
              <div class="col-6 text-left">
                <i class="far fa-clock"></i><span>Hôm nay</span>
              </div>
              <div class="col-6 text-right">
                <i class="far fa-trash-alt" id="delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-body">
            <div class="amount-image">
              <i class="far fa-image"></i>
              <span id="amount-image">3</span>
            </div>
            <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
            <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
            <div class="row info-article">
              <div class="col-6 text-left">
                <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
              </div>
              <div class="col-6 text-right">
                <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
              </div>
              <div class="col-12 text-left">
                <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
              </div>
              <div class="col-6 text-left">
                <i class="far fa-clock"></i><span>Hôm nay</span>
              </div>
              <div class="col-6 text-right">
                <i class="far fa-trash-alt" id="delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-body">
            <div class="amount-image">
              <i class="far fa-image"></i>
              <span id="amount-image">3</span>
            </div>
            <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
            <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
            <div class="row info-article">
              <div class="col-6 text-left">
                <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
              </div>
              <div class="col-6 text-right">
                <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
              </div>
              <div class="col-12 text-left">
                <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
              </div>
              <div class="col-6 text-left">
                <i class="far fa-clock"></i><span>Hôm nay</span>
              </div>
              <div class="col-6 text-right">
                <i class="far fa-trash-alt" id="delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-body">
            <div class="amount-image">
              <i class="far fa-image"></i>
              <span id="amount-image">3</span>
            </div>
            <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
            <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
            <div class="row info-article">
              <div class="col-6 text-left">
                <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
              </div>
              <div class="col-6 text-right">
                <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
              </div>
              <div class="col-12 text-left">
                <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
              </div>
              <div class="col-6 text-left">
                <i class="far fa-clock"></i><span>Hôm nay</span>
              </div>
              <div class="col-6 text-right">
                <i class="far fa-trash-alt" id="delete"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="direct wow fadeInDown">
      <div id="prev">
        <i class="fas fa-angle-left"></i>
      </div>

      <div id="next">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>

<%include footer %>

<script src="/javascripts/renter/favorite.js"></script>