<!-- Footer -->
<div id="footer">
  <div class="container h-100">
    <div class="row py-5">
      <div class="col-6 col-sm-6 col-md-3 mb-4 mb-md-0">
        <h2>Student Housing</h2>
        <a href="#">Giới thiệu</a>
        <a href="#">Tuyển dụng</a>
        <a href="#">Hoạt động xã hội</a>
        <a href="#">Liên hệ quảng cáo</a>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-4 mb-md-0">
        <h4>ĐIỀU KHOẢN SỬ DỤNG</h4><br>
        <a href="#">Điều khoản chung</a>
        <a href="#">Điều khoản giao dịch</a>
        <a href="#">Chính sách thanh toán</a>
        <a href="#">Chính sách bảo mật</a>
      </div>
      <div class="col-12 col-md-3 mb-4 mb-md-0" id="connect">
        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4><br>
        <a href="#">
          <img
            src="https://c7.uihere.com/files/353/468/986/menlo-park-facebook-social-media-computer-icons-social-networking-service-facebook-new-logo-png-thumb.jpg"
            alt="">
        </a>
        <a href="#">
          <img
            src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square1-512.png"
            alt="">
        </a>
        <a href="#">
          <img src="https://municipalidadlongavi.cl/wp-content/uploads/2016/05/youtube_001.jpg" alt="">
        </a>
        <a href="#">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy2cdwFne0BX1J7iaxzvAc4IlZE2P6T05zyh0pI1IG6AIQogII&usqp=CAU"
            alt="">
        </a>
        <a href="#">
          <img
            src="https://lh3.googleusercontent.com/rFIOt4fDSCgJh_FkHU2qP8YiZUUhfVoKoNfQFbPEM-Wl8zuyuwn7vzkEx_XMh5B6FfO3"
            alt="">
        </a>
      </div>
      <div class="col-12 col-md-3">
        <h4>LIÊN HỆ</h4><br>
        <div>CÔNG TY CỔ PHẦN STUDENT HOUSING</div>
        <div>Chăm sóc khách hàng: 1900 8198</div>
        <div>Địa chỉ: Tầng 3, số 595, đường Giải Phóng, phường Giáp Bát, quận Hoàng Mai, thành phố Hà Nội</div>
        <div>Email hỗ trợ: studenthousing@gmail.com</div>
      </div>
    </div>
  </div>
  <div id="copyright" class="text-center">Copyright ©2020 All rights reserved</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script>
  new WOW().init();
</script>
<script src="/javascripts/renter/main.js"></script>

</body>

</html>