<%include header %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/renter/home.css">

  <!-- Banner -->
  <div id="banner" class="py-4">
    <div class="row h-100 m-0">
      <div class="col-lg-6 d-flex justify-content-around align-items-center">
        <div id="text-intro" class="text-center">
          <h4>Welcome to</h4>
          <h1 class="zoomInLeft animated rainbow rainbow_text_animated">Student Housing</h1>
          <p class="zoomInLeft animated">- Love begins at home, Love lives in home -


        </div>
      </div>

      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div id="carouselExampleCaptions" class="carousel slide m-0" data-ride="carousel"
          style="width: 90%; height: 400px; overflow: hidden;">

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner h-100">

            <div class="carousel-item active h-100">
              <img src="https://congtyxaynhagiare.com/upload/news/cong-ty-xay-nha-tro-uy-tin-tai-tphcm.jpg"
                class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption">
                <h5>Nhà ở đa dạng</h5>
              </div>
            </div>

            <div class="carousel-item h-100">
              <img
                src="https://xaynhatro.net/wp-content/uploads/2018/05/chi-phi-xay-phong-tro-cao-cap-cho-thue-1024x576.jpg"
                class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption">
                <h5>Không gian phong cách</h5>
              </div>
            </div>

            <div class="carousel-item h-100">
              <img src="https://kinhdoanhbds.info/wp-content/uploads/2018/12/kinh-doanh-phong-tro-cao-cap.jpg"
                class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption">
                <h5>Nội thất hiện đại</h5>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </div>
  </div>





  <!-- Marketing -->
  <div class="container-fluid parent-marketing">
    <h1 class="wow bounce">OUR ADVANTAGES</h1>
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 mb-3 mb-lg-0  wow bounceInLeft">
          <div class="circle"> <i class="fas fa-map-marker-alt fa-5x text-white"></i> </div>
          <h2>Địa điểm đa dạng</h2>
          <p>Các địa chỉ thuê nhà trọ có ở khắp khu vực học tập của bạn.</p>
        </div>

        <div class="col-lg-4 mb-3 mb-lg-0  wow bounceInUp">
          <div class="circle"> <i class="fas fas fa-globe fa-5x text-white"></i> </div>
          <h2>Cộng đồng lớn mạnh</h2>
          <p>Trên 1000 chủ nhà trọ và trên 100000 khách hàng tiềm năng.</p>
        </div>

        <div class="col-lg-4 mb-3 mb-lg-0  wow bounceInRight">
          <div class="circle"> <i class="fas fa-heartbeat fa-5x text-white"></i> </div>
          <h2>Tất cả vì Sinh viên</h2>
          <p>Đội ngũ Admin chuyên nghiệp và tận tình, sẵn sàng giúp đỡ bạn mọi lúc.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Thông tin về admin -->
  <div class="container-fluid parent-admin">
    <div class="container admin">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-3 col-md-12 admin-intro mb-5 mb-lg-0 text-center text-lg-left wow jackInTheBox">
          <h1>OUR TEAM</h1>
          <h2>Student Housing</h2>
          <p>Chúng tôi là một đội ngũ chuyên gia bất động sản tận tâm và chuyên nghiệp.</p>
          <div class="parent-square d-flex justify-content-center justify-content-lg-start align-items-lg-center">
            <div class="square"><i class="far fa-envelope fa-2x"></i></div>
            <div class="square"><i class="fas fa-arrow-left fa-2x"></i></div>
            <div class="square"><i class="fas fa-arrow-right fa-2x"></i></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 avatar mb-3 mb-md-0 wow fadeInLeft">
          <div class="card">
            <img src="/images/vu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hoàng Tuấn Vũ</h5>
              <p class="card-text">- Vũ dễ thương -</p>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 avatar mb-3 mb-md-0  wow fadeInUp">
          <div class="card">
            <img src="/images/tuan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đàm Anh Tuấn</h5>
              <p class="card-text">- Tuấn best boy -</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 avatar mb-3 mb-md-0  wow fadeInRight">
          <div class="card">
            <img src="/images/thuan1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="white-space: nowrap;">Phạm Ngọc Thuận</h5>
              <p class="card-text">- Thuận phong trần -</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thanh tim kiem -->
  <div class="container-fluid parent-search">
    <h1 class="wow tada">FIND YOUR LOCATION</h1>
    <div class="container search wow fadeInUp">
      <div class="row row1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 col-6">
          <div>Loại nhà trọ</div>
          <select>
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Tỉnh/Thành phố</div>
          <select>
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Quận/Huyện</div>
          <select>
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Phường/Xã</div>
          <select>
            <option>Tất cả</option>
            <option></option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Đường/Phố</div>
          <select>
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row row1">
        <div class="col-sm-3"></div>
        <div class="col-sm-2  col-6">
          <div>Diện tích</div>
          <select>
            <option>Tất cả</option>
            <option>15m2 - 20m2</option>
          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Mức giá</div>
          <select>
            <option>Tất cả</option>
            <option>1 triệu - 3 triệu</option>
          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>An ninh</div>
          <select>
            <option>Tất cả</option>
            <option>Chung chủ</option>
            <option>Không chung chủ</option>
          </select>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row row2">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 col-4">
          <input type="checkbox"></input>
          <img class="img-fluid w-50 " src="/images/dieu-hoa.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox"></input>
          <img class="img-fluid w-50" src="/images/binh-nong-lanh.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox"></input>

          <img class="img-fluid w-25" src="/images/tu-lanh.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox"></input>
          <img class="img-fluid w-50" src="/images/may-giat.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox"></input>
          <img class="img-fluid w-50" src="/images/lo-suoi.png" alt="">
        </div>
        <div class="col-sm-1"></div>
      </div>

    </div>
    <div id="search wow fadeInDown">SEARCH</div>

  </div>


  <!-- Location-->
  <div class="container-fluid parent-location">

    <h1 class="wow bounceInLeft">POPULAR LOCATIONS</h1>

    <div class="container location wow bounceInRight">

      <div class="row">

        <div class="col-md-6 p-1" id="ho-chi-minh">

          <img class="w-100" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-2.jpg" alt="">
          <div class="w-100 text">
            <h1>TP. Hồ Chí Minh</h1>
            <p>2000 nhà trọ</p>
          </div>
        </div>

        <div class="col-md-6">

          <div class="row">

            <div class="col-md-6 p-1" id="ha-noi">

              <img class="w-100" src="https://file4.batdongsan.com.vn/images/newhome/cities1/HN-web-2.jpg" alt="">
              <div class="w-100 text">

                <h1>Hà Nội</h1>
                <p>2000 nhà trọ</p>
              </div>

            </div>

            <div class="col-md-6 p-1" id="da-nang">
              <img class="w-100" src="https://file4.batdongsan.com.vn/images/newhome/cities1/DDN-web-3.jpg" alt="">
              <div class="w-100 text">
                <h1>Đà Nẵng</h1>
                <p>2000 nhà trọ</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 p-1" id="dong-nai">
              <img class="w-100" src="https://file4.batdongsan.com.vn/images/newhome/cities1/DNA-web-3.jpg" alt="">
              <div class="w-100 text">
                <h1>Đồng Nai</h1>
                <p>2000 nhà trọ</p>
              </div>
            </div>
            <div class="col-md-6 p-1" id="binh-duong">
              <img class="w-100" src="https://file4.batdongsan.com.vn/images/newhome/cities1/BD-web-1.jpg" alt="">
              <div class="w-100 text">
                <h1>Bình Dương</h1>
                <p>2000 nhà trọ</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- ARTICLE -->
  <div class="container-fluid parent-article">
    <h1 class="font-weight-light wow bounceInDown">RECENT POSTS</h1>
    <div class="container text-center my-3 article wow bounceInUp">
      <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner w-100 mom-article" role="listbox">

            <div class="carousel-item active">

              <div class="col-md-4">
                <div class="amount-image">
                  <i class="far fa-image"></i>
                  <span id="amount-image">3</span>
                </div>
                <img class="img-fluid" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
                <div class="card card-body">

                  <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
                  <div class="row info-article">
                    <div class="col-6 text-left">
                      <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
                    </div>
                    <div class="col-6 text-left">
                      <i class="far fa-clock"></i><span>Hôm nay</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="far fa-heart" id="like"></i>
                    </div>


                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-4">
                <div class="amount-image">
                  <i class="far fa-image"></i>
                  <span id="amount-image">3</span>
                </div>
                <img class="img-fluid" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
                <div class="card card-body">
                  <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
                  <div class="row info-article">
                    <div class="col-6 text-left">
                      <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
                    </div>
                    <div class="col-6 text-left">
                      <i class="far fa-clock"></i><span>Hôm nay</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="far fa-heart" id="like"></i>
                    </div>


                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-4">
                <div class="amount-image">
                  <i class="far fa-image"></i>
                  <span id="amount-image">3</span>
                </div>
                <img class="img-fluid" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
                <div class="card card-body">
                  <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
                  <div class="row info-article">
                    <div class="col-6 text-left">
                      <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
                    </div>
                    <div class="col-6 text-left">
                      <i class="far fa-clock"></i><span>Hôm nay</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="far fa-heart" id="like"></i>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-4">
                <div class="amount-image">
                  <i class="far fa-image"></i>
                  <span id="amount-image">3</span>
                </div>
                <img class="img-fluid" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
                <div class="card card-body">
                  <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
                  <div class="row info-article">
                    <div class="col-6 text-left">
                      <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
                    </div>
                    <div class="col-6 text-left">
                      <i class="far fa-clock"></i><span>Hôm nay</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="far fa-heart" id="like"></i>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">

              <div class="col-md-4">
                <div class="amount-image">
                  <i class="far fa-image"></i>
                  <span id="amount-image">3</span>
                </div>
                <img class="img-fluid" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
                <div class="card card-body">
                  <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
                  <div class="row info-article">
                    <div class="col-6 text-left">
                      <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
                    </div>
                    <div class="col-6 text-left">
                      <i class="far fa-clock"></i><span>Hôm nay</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="far fa-heart" id="like"></i>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">

              <div class="col-md-4">
                <div class="amount-image">
                  <i class="far fa-image"></i>
                  <span id="amount-image">3</span>
                </div>
                <img class="img-fluid" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
                <div class="card card-body">
                  <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
                  <div class="row info-article">
                    <div class="col-6 text-left">
                      <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
                    </div>
                    <div class="col-6 text-left">
                      <i class="far fa-clock"></i><span>Hôm nay</span>
                    </div>
                    <div class="col-6 text-right">
                      <i class="far fa-heart" id="like"></i>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
              aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
              aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%include footer %>

    <script src="/javascripts/renter/home.js"></script>