<%include ./headerOwner %>


<div class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Danh sách những bài đăng</h4>
            <p class="category">Tất cả các phòng</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped  text-center">
              <thead>
                <th>Địa chỉ phòng</th>
                <th>ID bài đăng</th>
                <th>Ngày tạo</th>
                <th>Ngày hết hạn</th>
                <th>Trạng thái bài viết</th>
                <th>Trạng thái thuê</th>
                <th>Xử lý</th>
                <th>Xử lý việc thuê</th>
              </thead>
              <tbody class="infoPost">
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<%include ./footerOwner %> 
<script src="../javascripts/owners-js/postDetail.js"></script>
