<%include ./headerOwner %>
<style>
  * {
    margin: 0;
    padding: 0
  }

  label.hot-cold-bottles {
    display: block;
    margin-bottom: 12px;
  }

  label.general-owner {
    float: left;
  }


  label.general-owner+input {
    margin-left: 180px;
  }

  input#general-owner+span {
    width: 100px;
    display: inline-block;
  }

  input,
  select {
    width: 75% !important;
    margin: auto;
  }
</style>
<div class="text-center w-50 m-auto">
  <div class="form-group">
    <label for="address_room ">Address Room *</label>
    <input type="text" class="form-control" name="address_room" id="address_room " aria-describedby="helpId"
      placeholder="House number - Street - Ward - District - City" required>
    <small id="error-address_room" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="near_places ">Near any public places</label>

    <input type="text" class="form-control" name="near_places" id="near_places" aria-describedby="helpId"
      placeholder="Enter Near any public places">

    <small id="error-near_places" class="form-text text-muted"></small>

  </div>
  <div class="form-group">
    <label for="kind_room">Kind of Room</label>
    <select class="form-control" name="kind_room" id="kind_room">
      <option>Motel Room</option>
      <option>Mini apartment</option>
      <option>Whole house</option>
    </select>
  </div>
  <div class="form-group">
    <label for="number_room">Number of Room</label>
    <input type="number" class="form-control" name="number_room" id="c" aria-describedby="helpId"
      placeholder="Enter Number of Room">
    <small id="error-number_room" class="form-text text-muted"></small>
  </div>

  <div class="form-group">
    <label for="price">Prices</label>
    <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
      placeholder="Enter Near any public price month/quarter/year">
    <small id="error-price" class="form-text text-muted"></small>
  </div>


  <div class="form-group">
    <label for="area">Area</label>
    <input type="number" class="form-control" name="area" id="area" aria-describedby="helpId" placeholder="Enter Area">
    <small id="error-area" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="general_owner">General owner</label>
    <select class="form-control" name="general_owner" id="general_owner">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>
  <div class="form-group">
    <div class="row">
      <h2 class="col-sm-12">Physical facilities</h2>
      <div class="col-sm-6">
        <label for="bathroom">Bathroom *</label>
        <select class="form-control" name="bathroom" id="bathroom">
          <option>Closed</option>
          <option>General</option>
        </select>
      </div><!-- ennd col-6 -->
      <div class="col-sm-6">
        <label for="hot_cold_bottles">Hot and cold bottles *</label>
        <select class="form-control" name="hot_cold_bottles" id="hot_cold_bottles">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label for="kitchen">Kitchen Room</label>
        <select class="form-control" name="kitchen" id="kitchen">
          <option>Closed</option>
          <option>General</option>
        </select>
      </div><!-- ennd col-6 -->
      <div class="col-sm-6">
        <label for="cooking">Cooking</label>
        <select class="form-control" name="cooking" id="cooking">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div><!-- ennd col-6 -->
      <div class="col-sm-6">
        <label for="conditioning">Air Conditioning</label>
        <select class="form-control" name="conditioning" id="conditioning">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div><!-- ennd col-6 -->
      <div class="col-sm-6">
        <label for="balcony">Balcony</label>
        <select class="form-control" name="balcony" id="balcony">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div><!-- ennd col-6 -->
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <label for="electricity_price">Electricity Price</label>
            <input type="number" class="form-control" name="electricity_price" id="electricity_price "
              aria-describedby="helpId" placeholder="Electricity Price ">
            <small id="error-electricity_price" class="form-text text-muted"></small>
          </div>
          <div class="col-sm-6">
            <label for="water_price">Water Price</label>
            <input type="number" class="form-control" name="water_price" id="water_price " aria-describedby="helpId"
              placeholder="Electricity Price ">
            <small id="error-water_price" class="form-text text-muted"></small>
          </div>
        </div>
      </div><!-- ennd col-6 -->
      <div class="col-sm-6">
        <label for="other_utility">Other Utility</label>
        <input type="text" class="form-control" name="other_utility" id="other_utility " aria-describedby="helpId"
          placeholder="Refrigerator / Washing machine / Bed cabinet etc...">
        <small id="error-other_utility" class="form-text text-muted"></small>
      </div><!-- ennd col-6 -->
    </div>
  </div>
  <div class="form-group">
    <label for="image-room">Image Room</label>
    <form id="image_room" method="post" action="/owners/upload-image" class="dropzone"></form>
    <!-- 
    <input type="file" class="form-control-file dropzone" name="image-room" id="image-room" placeholder="Images"
      aria-describedby="image-room"> 
    -->
  </div>
  <div class="form-group">
    <div class="row">
      <h2 class="col-sm-12">Contact information</h2>
      <span class="infoOwner">
        
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="time_post">Time the post shows up</label>
    <select class="form-control" name="time_post" id="time_post">
      <option>Week</option>
      <option>Month </option>
      <option>Quarter</option>
      <option>Year</option>
    </select>
  </div>
  <button  class="btn btn-primary submit-post">Submit</button>
</div>

<%include ./footerOwner %>
<script src="../javascripts/owners-js/post-room.js"></script>