<%include ./headerOwner %>
<link rel="stylesheet" href="../stylesheets/profile.css">
<div class="container content"> 
</div>
<%include ./footerOwner %>
<script src="../javascripts/profile.js"></script>