<%include ./headerOwner %>

<div class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Striped Table with Hover</h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped  text-center">
              <thead>
                <th>Address Room</th>
                <th>Kind Room</th>
                <th>Date Create</th>
                <th>Date Update</th>
                <th>Status</th>
                <th>Rent Status</th>
                <th>Handle</th>
                <th>Handle Hiring</th>
              </thead>
              <tbody class="infoPost">
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<%include ./footerOwner %>
<script src="../javascripts/owners-js/postDetail.js"></script>