<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="description" content="Miminium Admin Template v.1">
  <meta name="author" content="Isna Nur Azis">
  <meta name="keyword" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMIN</title>

  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="../asset/css/bootstrap.min.css">

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="../asset/css/plugins/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="../asset/css/plugins/animate.min.css" />
  <link href="../asset/css/style.css" rel="stylesheet">
  <!-- end: Css -->

  <link rel="shortcut icon" href="../asset/img/logomi.png">

</head>

<body id="mimin" class="dashboard">
  <!-- start: Header -->
  <nav class="navbar navbar-default header navbar-fixed-top">
    <div class="col-md-12 nav-wrapper">
      <div class="navbar-header" style="width:100%;">
        <div class="opener-left-menu is-open">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
        <a href="/" class="navbar-brand">
          <b>ADMIN</b>
        </a>

        <ul class="nav navbar-nav search-nav">
          <li>
            <div class="search">
              <span class="fa fa-search icon-search" style="font-size:23px;"></span>
              <div class="form-group form-animate-text">
                <input type="text" class="form-text" required="">
                <span class="bar"></span>
                <label class="label-search">Type anywhere to <b>Search</b> </label>
              </div>
            </div>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="user-name"><span>Akihiko Avaron</span></li>
          <li class="dropdown avatar-dropdown">
            <img src="../asset/img/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
            <ul class="dropdown-menu user-dropdown">
              <li><a href="#"><span class="fa fa-user"></span> My Profile</a></li>
              <li><a href="#"><span class="fa fa-calendar"></span> My Calendar</a></li>
              <li role="separator" class="divider"></li>
              <li class="more">
                <ul>
                  <li><a href=""><span class="fa fa-cogs"></span></a></li>
                  <li><a href=""><span class="fa fa-lock"></span></a></li>
                  <li><button style="
                    border: none;
                    color: #716767;
                    background: no-repeat;
                "><span class="fa fa-power-off signOutIcon"></span></button></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" class="opener-right-menu"><span class="fa fa-coffee"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end: Header -->
  <div class="container-fluid mimin-wrapper">

    <!-- start:Left Menu -->
    <div id="left-menu">
      <div class="sub-left-menu scroll" tabindex="5000" style="overflow: hidden; outline: none;">
        <ul class="nav nav-list">
          <li>
            <div class="left-bg"></div>
          </li>
          <li class="time">
            <h1 class="animated fadeInLeft">08:51</h1>
            <p class="animated fadeInRight">Wednesday, December 9th 2020</p>
          </li>
          <li class="active ripple">
            <a class="tree-toggle nav-header"><span class="fa-home fa"></span> Dashboard
              <span class="fa right-arrow text-right fa-angle-right"></span>
              <span class="ink"></span></a>
            <ul class="nav nav-list tree" style="display: none;">
              <li><a href="/">Dashboard v.1</a></li>
              <li></li>
            </ul>
          </li>




          <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-table"></span> Tables <span
                class="fa right-arrow text-right fa-angle-right"></span> <span class="ink"></span></a>
            <ul class="nav nav-list tree" style="display: none;">
              <li><a href="/datatables">Entire Posts</a></li>
              <li><a href="/request-owners">Entire Modify Owners</a></li>

            </ul>
          </li>

          <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-envelope-o"></span> Mail <span
                class="fa right-arrow text-right fa-angle-down"></span> <span class="ink"></span></a>
            <ul class="nav nav-list tree" style="">
              <li><a href="/mail-box">Inbox</a></li>


            </ul>
          </li>


          <li><a href="/credits">Credits</a></li>
        </ul>
      </div>
    </div>
    <!-- end: Left Menu -->


    <!-- start: Content -->
    <div id="content" class="article-v1">
      <div class="panel box-shadow-none content-header">
        <div class="panel-body">
          <div class="col-md-12">
            <h3 class="animated fadeInLeft">Credits</h3>
            <p class="animated fadeInDown">
              Home <span class="fa-angle-right fa"></span> Credits
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel">
          <div class="pull-right article-v1-time">
            <em>ADMIN</em>
          </div>
          <div class="panel-body">
            <div class="col-md-12 text-left article-v1-title">
              <h2>Thanks To</h2>
            </div>
            <div class="col-md-12  article-v1-body">
              <ul style="font-size:1.7em;listy">
                <li>Common:</li>
                <li>1. <a href="https://jquery.com/">Jquery</a></li>
                <li>2. <a href="https://jquerymobile.com/">Jquery Mobile</a></li>
                <li>3. <a href="https://jqueryui.com/">Jquery Ui</a></li>
                <li>5. <a href="getbootstrap.com">Bootstrap</a></li>
                <li>6. <a href="bootsnipp.com">Bootsnip</a></li>

                <li>&nbsp;</li>

                <li>Image:</li>
                <li>1. <a href="https://unsplash.com/">Unsplash</a></li>

                <li>&nbsp;</li>

                <li>Fonts:</li>
                <li>1. <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
                <li>2. <a href="http://thesabbir.github.io/simple-line-icons/">Simple Line Icons</a></li>

                <li>&nbsp;</li>

                <li>CSS:</li>
                <li>1. <a href="https://daneden.github.io/animate.css/">Animate.css</a></li>

                <li>&nbsp;</li>

                <li>Javascript Plugin:</li>
                <li>1. <a href="http://t00rk.github.io/bootstrap-material-datetimepicker/">Bootstrap Material
                    Datetimepicker</a></li>
                <li>2. <a href="www.chartjs.org">Chart Js</a></li>
                <li>3. <a href="https://zenorocha.github.io/clipboard.js/">ClipBoard Js</a></li>
                <li>4. <a href="https://codemirror.net/">CodeMirror</a></li>
                <li>5. <a href="https://www.datatables.net/">Datatables</a></li>
                <li>6. <a href="www.dropzonejs.com/">Dropzone Js</a></li>
                <li>7. <a href="http://handsontable.com/">HansonTable</a></li>
                <li>8. <a href="fullcalendar.io">Fullcalendar</a></li>
                <li>9. <a href="imsky.github.io/holder/">Holder Js</a></li>
                <li>10. <a href="http://www.paulirish.com/2011/the-history-of-the-html5-shiv/">HTML5shiv</a></li>
                <li>11. <a href="fronteed.com/iCheck/">Icheck</a></li>
                <li>12. <a href="http://code.google.com/p/ie7-js/">Ie9 Js</a></li>
                <li>13. <a href="summernote.org">Summernote</a></li>
                <li>14. <a href="imagesloaded.desandro.com/">imagesLoaded</a></li>
                <li>15. <a href="ionden.com/a/plugins/ion.rangeSlider/en">Ion Range Slider</a></li>
                <li>16. <a href="www.flotcharts.org/">Flot</a></li>
                <li>17. <a href="anthonyterrien.com/knob">Jquey Knob</a></li>
                <li>18. <a href="https://igorescobar.github.io/jQuery-Mask-Plugin/">Jquery Mask</a></li>
                <li>19. <a href="https://github.com/inuyaksa/jquery.nicescroll">Jquery NiceScroll</a></li>
                <li>20. <a href="omnipotent.net/jquery.sparkline">Jquery Sparkline</a></li>
                <li>21. <a href="www.jquery-steps.com/">Jquery Steps</a></li>
                <li>22. <a href="jqueryvalidation.org">Jquery Validate</a></li>
                <li>23. <a href="jqvmap.com/">jQVMap</a></li>
                <li>24. <a href="masonry.desandro.com/">Mansonry</a></li>
                <li>25. <a href="mediaelementjs.com/">MediaElement.js</a></li>
                <li>26. <a href="momentjs.com/">Moment Js</a></li>
                <li>27. <a href="morrisjs.github.io/morris.js">Morris</a></li>
                <li>28. <a href="refreshless.com/nouislider/">Nouislider</a></li>
                <li>29. <a href="raphaeljs.com/">Raphael</a></li>
                <li>30. <a href="https://github.com/scottjehl/Respond">Respond Js</a></li>
                <li>31. <a href="https://select2.github.io/">Select2</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: content -->


  <!-- start: right menu -->
  <%include right-menu %>
    <!-- end: right menu -->



    <!-- start: Mobile -->
    <%include mobile %>

      <!-- end: Mobile -->


      <!-- end: Content -->
      <!-- start: Javascript -->
      <script src="../asset/js/jquery.min.js"></script>
      <script src="../asset/js/jquery.ui.min.js"></script>
      <script src="../asset/js/bootstrap.min.js"></script>


      <!-- plugins -->
      <script src="../asset/js/plugins/moment.min.js"></script>
      <script src="../asset/js/plugins/jquery.nicescroll.js"></script>


      <!-- custom -->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="../asset/js/main.js"></script>
      <div id="ascrail2000" class="nicescroll-rails"
        style="width: 7px; z-index: 222; cursor: default; position: fixed; top: 0px; left: 223px; height: 652px; display: block; opacity: 0;">
        <div
          style="position: relative; top: 0px; float: right; width: 5px; height: 585px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;">
        </div>
      </div>
      <div id="ascrail2000-hr" class="nicescroll-rails"
        style="height: 7px; z-index: 222; top: 645px; left: 0px; position: fixed; cursor: default; display: none; width: 223px; opacity: 0;">
        <div
          style="position: relative; top: 0px; height: 5px; width: 230px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;">
        </div>
      </div>
      <div id="ascrail2001" class="nicescroll-rails"
        style="width: 26px; z-index: -1; cursor: -webkit-grab; position: absolute; top: 0px; left: 74px; height: 300px; display: none;">
        <div
          style="position: relative; top: 0px; float: right; width: 24px; height: 0px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;">
        </div>
      </div>
      <div id="ascrail2001-hr" class="nicescroll-rails"
        style="height: 26px; z-index: -1; top: 274px; left: 0px; position: absolute; display: none;">
        <div
          style="position: relative; top: 0px; height: 24px; width: 0px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;">
        </div>
      </div>
      <div id="ascrail2000" class="nicescroll-rails"
        style="width: 7px; z-index: 222; cursor: default; position: fixed; top: 0px; left: 223px; height: 652px; opacity: 0;">
        <div
          style="position: relative; top: 0px; float: right; width: 5px; height: 500px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;">
        </div>
      </div>
      <div id="ascrail2000-hr" class="nicescroll-rails"
        style="height: 7px; z-index: 222; top: 645px; left: 0px; position: fixed; cursor: default; width: 223px; opacity: 0; display: none;">
        <div
          style="position: relative; top: 0px; height: 5px; width: 230px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;">
        </div>
      </div>
      <div id="ascrail2001" class="nicescroll-rails"
        style="width: 26px; z-index: -1; cursor: -webkit-grab; position: absolute; top: 0px; left: 74px; height: 300px; display: none;">
        <div
          style="position: relative; top: 0px; float: right; width: 24px; height: 0px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;">
        </div>
      </div>
      <div id="ascrail2001-hr" class="nicescroll-rails"
        style="height: 26px; z-index: -1; top: 274px; left: 0px; position: absolute; display: none;">
        <div
          style="position: relative; top: 0px; height: 24px; width: 0px; background-color: rgb(33, 150, 243); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;">
        </div>
      </div>
      <!-- end: Javascript -->


</body>

</html>