<!-- start: Mobile -->
<div id="mimin-mobile" class="reverse">
  <div class="mimin-mobile-menu-list">
    <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft" tabindex="5001"
      style="overflow: hidden; outline: none; cursor: -webkit-grab;">
      <ul class="nav nav-list">
        <li class="active ripple">
          <a class="tree-toggle nav-header">
            <span class="fa-home fa"></span>Dashboard
            <span class="fa-angle-right fa right-arrow text-right"></span>
          </a>
          <ul class="nav nav-list tree" style="display: none;">
            <li><a href="/">Dashboard v.1</a></li>
          </ul>
        </li>
        <li class="ripple">
          <a class="tree-toggle nav-header">
            <span class="fa fa-table"></span>Tables
            <span class="fa-angle-right fa right-arrow text-right"></span>
          </a>
          <ul class="nav nav-list tree" style="display: none;">
            <li><a href="/datatables">Entire Posts</a></li>
            <li><a href="/request-owners">Entire Modify Owners</a></li>
          </ul>
        </li>
        <li class="ripple">
          <a class="tree-toggle nav-header">
            <span class="fa fa-envelope-o"></span>Mail
            <span class="fa-angle-right fa right-arrow text-right"></span>
          </a>
          <ul class="nav nav-list tree" style="display: none;">
            <li><a href="/mail-box">Inbox</a></li>
          </ul>
        </li>
        <li><a href="/credits">Credits</a></li>
      </ul>
    </div>
  </div>
</div>
<button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
  <span class="fa fa-bars"></span>
</button>
<!-- end: Mobile -->