<%include ./header-footer/header %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="container content"> 
</div>
<%include ./header-footer/footer %>
<script src="/javascripts/profile.js"></script>